<form ng-submit="vm.submit()" class="ForgotPassword-form" name="vm.forgotPasswordForm" novalidate>
  <div class="callout callout-danger" ng-if="vm.errorTrigger">
    <h4>خطأ :</h4>
    <p>نرجوا التأكد من بريدك الالكتروني واعادة المحاولة.</p>
  </div>
  <div class="reset-form-con">
    <div class="form-group has-feedback m-b-15" ng-class="{'has-error': vm.forgotPasswordForm.email.$invalid && vm.forgotPasswordForm.$submitted}">
      <input type="email" class="form-control text-center gray-input" placeholder="البريد الالكتروني" name="email" ng-model="vm.email" ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
      <i class="md md-error form-error left-6" tooltip-placement="bottom" uib-tooltip="الايميل غير صحيح" ng-show="vm.forgotPasswordForm.email.$error.email  && vm.forgotPasswordForm.$submitted" aria-hidden="false"></i>
      <i class="md md-error form-error left-6" tooltip-placement="bottom" uib-tooltip="ادخال الايميل" ng-show="vm.forgotPasswordForm.email.$error.required && vm.forgotPasswordForm.$submitted" aria-hidden="false"></i>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary btn-lg btn-block">
          تأكد من مطابقة البيانات المدخلة
        </button>
      </div>
    </div>
  </div>
</form>
