<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="media">
          <div class="card">
            <div class="card-body">
              <div class="pull-right m-l-10">
                <a ui-sref="app.profile.timeline({id:sclass.uid})" href="#/profile-3/timeline"> 
                  <img class="schedule-img" src="upload/profile/avatar/ffbea6986395c2ecde21206fd1ce9e70.jpg">
                </a>
              </div>
              <div class="pull-left p-5">
                <ul class="actions">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown" aria-expanded="false">
                            <i class="md md-more-vert"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="b-bottom">
                                <a data-pmb-action="delete" class="close-menu sa-params" data-post-id="{{post.id}}" data-post-key="{{key}}" data-post-type="{{type}}">
                                <i class="md md-delete"></i>
                                حذف
                                </a>
                                
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
              <div class="pull-left p-t-10">
                <a href="upload/files/images/X900-man.png" download="" class="btn btn-default f-15 down-btn">
                  <i class="md md-file-download"></i>
                  تحميل
                </a>
              </div>
             <div class="media-body p-5">
                <a ui-sref="app.profile.timeline({id: $root.vc.instructor})" class="user-name f-16" href="#/profile-3/timeline">Hamzeh Alnatsheh</a>
                <div class="data-post f-15">منذ ٩ أيام</div>
                <div class="text-bold f-16">
                <i class="md md-description"></i>
                اسم الملف
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
