<header id="header">
  <div class="container login-container">
    <ul class="header-inner p-t-0">
      <li class="logo">
        <a href="#/">
          <img src="img/logo.svg" alt="EDZANCE logo" class="logo-home"/>
           <span class="v-l-middle"></span>
        </a>
         <div class="callout callout-danger" ng-if="vm.loginfailed">
            <h4>فشل تسجيل الدخول</h4>
            <p>ايميل او كلمة سر خاطئة.</p>
        </div>
        <div class="callout callout-danger" ng-if="vm.unverified">
            <h4>لم يتم تأكيد الايميل</h4>
            <p>نرجوا منك الضغط على ايميل التفعيل الموجود في بريدك الالكتروني.</p>
        </div>
      </li>
      <li class="pull-left hidden-xs">
         <login-box></login-box>
      </li>
    </ul>
  </div>
</header>
<section class="homepage">
  <div class="registration-education-con container">
    <h1 class="reg-title">سياسة الخصوصية</h1>
    <div>
      <div class="text-bold text-bold m-t-10 m-b-5 f-16">
        خصوصيتك أثمن ما نملك
      </div>
      <div>
        اننا في Edzance نعتبر أن خصوصيتك هي أثمن ركيزة نعمل عليها , وانك أنت وحدك من تقرر كيف يمكن لبياناتك أن تظهر (انت المتحكم) , ونعتبر أن أي قرار قد يتم اتخاذه من قبلنا ركيزته خصوصيتك ورضاك , لذلك كن واثقا أن بياناتك ملك يديك يمكنك أن تختار متى تظهرها ومتى تخفيها . 
      </div>
    </div>
    <div>
      <div class="text-bold text-bold m-t-10 m-b-5 f-16">
        المقدمة 
      </div>
      <div>
        شركة Edzance هي شركة تدير موقع للتواصل الاكاديمي وتعمل على ربط طلبة الجامعات والمدرسين مع بعضهم البعض , وتعمل على السماح بتبادل المحتوى التعليمي بين المستخدمين لزيادة الانتاجية التعليمية وكفاءة العملية التعليمية .
      </div>
      <ul>
        <li>
          نعمل دائما على حماية خصوصيتك طالما التزمت بتعليمات الاستخدام الخاص بنا , ونقدم بياناتك لأطراف أخرى في الحالات التالية : 
         <ol>
          <li>
            موافقتك على تقديم بياناتك .
          </li>
          <li>
            في حال تقديم خدمات ومميزات تثري استخدامك لخدمات الموقع .
          </li>
          <li>
            في حال صدور مذكرة قانونية , او أي اشكاليات قانونية تقوم بفعلها على الموقع بما يخالف سياسة الاستخدام الخاصة بنا . 
          </li>
          <li>
            في حال قيامك بأعمال تعدي وارهاب لأعضاء الموقع, وأي عمل من شأنه أن يضر بأعضاء الموقع . 
          </li>
        </ol>
        </li>
      </ul>
      <div>
        سنقوم دائما بإبلاغك بجديد سياستنا للخصوصية في حال حدوث أي تغيير كبير عليها , ونرجو منك العلم أن كل ما نفعله هو من أجل الحفاظ على استخدام آمن لك ولغيرك من المستخدمين . 
      </div>
    </div>
    <div>
      <div class="text-bold text-bold m-t-10 m-b-5 f-16">
        جمع المعلومات 
      </div>
      <div>
        نعمل على جمع المعلومات لتقديم تجربة استخدام مميزة لك ولغيرك من المستخدمين , ونعتقد اننا نقوم بجمع المعلومات بشكل واضح وسليم , ونبتعد كل البعد عن الغموض بجمع البيانات , وفي حال كنت بالمملكة الأردنية الهاشمية فإن الشركة المسؤولة عن جمع بياناتك هي (شركة اليشمك لتكنولوجيا المعلومات ذات المسؤولية المحدودة) ومقرها عمان - مجمع الملك حسين للأعمال , وهي الشركة المشغلة لموقع Edzance للتواصل الاكاديمي , وفي حال كنت ترى مشكلة مع البيانات التي نقوم بجمعها ولا ترغب بمشاركتها معنا لن يحق لك أن تنشئ حساب على موقع Edzance ونرجو منك التوقف حالا عن استخدام الموقع ويمكنك الغاء تفعيل حسابك بأي وقت تشاء .
      </div>
      <ul>
        <li>
          نقوم بجمع معلوماتك الشخصية كالتالي:
           <dl>
            <dt>التسجيل :</dt>
            <dd>
            عندما تقوم بإنشاء حساب جديد على Edzance فإنه يتوجب عليك أن تقدم لنا (اسمك الحقيقي , بريدك الالكتروني , جنسك , عمرك , جامعتك , تخصصك , كليتك , كلمة مرور حسابك , نوع حسابك , رقم هاتفك) وأن توافق على سياسة الخصوصية وشروط الاستخدام الخاصة بنا , وعليك أن تعلم انك بموافقتك على هذه السياسات والشروط فإنه يمكن لنا ولغيرنا من المستخدمين والزوار أن يتعرفوا عليك من خلال ملفك الشخصي على Edzance , وقد نطلب منك معلومات اضافية لجعل التعرف عليك من قبل المستخدمين والزوار أمرا أسهل , حيث أن خدماتنا جميعها مرتبطة بالتعليم فلا يمكن أن تكون شخصا لا يمكن التعامل معه بأي حال من الأحوال .
            </dd>
            <dt>معلومات ملفك الشخصي :</dt>
            <dd>
              لكي تستطيع الحصول على أفضل تجربة استخدام في Edzance فإننا نقوم ببناء ملف شخصي خاص بك يمكنك من التعامل مع زملائك ومدرسيك وغيرهم بطريقة أفضل وأوضح , ونقوم بطلب الكثير من البيانات منك (مدرستك الثانوية , مكان اقامتك , جنسيتك , الدولة التي تسكن بها , الدولة التي تدرس بها , وصف خاص بك تعرضه للمستخدمين والزوار , تاريخ دخولك الى الجامعة , تاريخ تخرجك المتوقع , حساباتك على شبكات التواصل الاجتماعي المشهورة , روابط تعريفية عنك وعن انجازاتك , مهاراتك , اهتماماتك , لغاتك التي تتحدث بها , وتوصيات المدرسين حولك, وتوصيات زملائك بك , وانجازاتك , وصورك , والاماكن التي عملت بها , وخبراتك , والفعاليات التي قمت بها وشاركت بها , وغيرها من المعلومات الغير ملزم ادخالها من قبلك بحيث يعود لك القرار بمشاركتنا ومشاركة زملائك والمستخدمين والزوار بها. ) وانما نعتمدها لنحسن فرصة التعرف عليك وظهورك أمام المستخدمين , ولبناء ملف شخصي يمكن لك العودة له بشكل دائم , وكما أن هذه المعلومات تساعدنا بعرض اعلانات تدريسية واعلانات متنوعة لك ضمن اهتماماتك ونشاطك على موقع  Edzance. 
            </dd>
            <dt>خدمات سحب جهات الاتصال :</dt>
            <dd>
              نطلب منك مشاركتنا جهات الاتصال الخاصة بك على البريد الالكتروني او على رقم الهاتف , ويكون ذلك بموافقتك فقط على ذلك , يسمح لنا هذا بتقديم خدمة افضل لك من حيث توسيع شبكتك وشبكة معارفك  مما يعزز فرص تواصلك معهم عن طريق موقع Edzance ويساهم لزوما بتحسين الاقتراحات التي نقترحها لك من جهات الاتصال , ونعلمك أيضا انه وبمجرد ارسالنا الدعوات لجهات اتصالك بعد أخذ اذنك سيتمكن الطرف المتلقي للدعوات معرفة بريدك الالكتروني واسمك وربما رقم هاتفك حسب نوع العملية التي نقوم بإبلاغه بها عن دعوتك , ونعلمك أيضا أن أي معلومات ضمن جهات اتصالك وعناوينك الخاصة هي خاضعة لسياسة الخصوصية ولا نقوم بمشاركة أي طرف آخر لها الا في حال موافقتك الكترونيا على ذلك , وسيتم سؤالك صراحتا في حال رغبت بمشاركة هذه النوعية من البيانات . 
            </dd>
            <dt>استخدام موقع Edzance :</dt>
            <dd>
              عند قيامك باستخدام خدمات موقع Edzance فإننا نرصد استخدامك  , ونقوم بجمع معلومات حول استخدامك , ومن ذلك قيامك بالضغط على الاعلانات , وتفاعلك مع المنشورات , وعمليات البحث , ومشاهداتك , واهتماماتك , وكل ما من شأنه أن يحسن من تجربتك على الموقع ضمن ما يقبله المنطق والواقع , وأيضا سنقوم برصد مشاركاتك ومساهماتك وانضمامك لأي مجتمع دراسي أو أي مادة دراسية أو نقاشاتك الدراسية , واستطلاعات الرأي , والصور التي تشاركها , وأي نوع من المشاركات التي تقوم بها مهما كانت , ونقوم بجمع البيانات المتعلقة بالأشخاص الذين تفاعلوا مع ما تقرر مشاركته على الموقع , ونقوم بتخزين كل هذه البيانات بشكل دقيق يسهل عليك الحصول على تجربة استخدام مريحة وسلسة . 
            </dd>
            <dt>عنوان الـ IP ونوع الجهاز الذي تستخدمه بالوصول الى الموقع ونوع المتصفح ضمن ملفات السجل:</dt>
            <dd>
              نقوم بتتبع عنوان IP الخاص بك ونوع الأجهزة التي تقوم بواسطتها بالدخول الى الموقع والمتصفحات التي تستخدمها وكما نتتبع اسم مزود خدمات الانترنت الذي تعمل معه ومزود خدمات الاتصالات الخاص بك , نتابع عناوين الــ URL التي قدمت منها والتي تذهب اليها , ويتلقى المعلنون اشعارا بزيارتك لإعلاناتهم  , لتوفير أكبر حماية ممكنة لحسابك وتتبع العناوين التي لم تعتاد الدخول منها الى خدمات موقع Edzance  , واشعارك بها .
            </dd>
            <dt>
              ملفات تعريف الارتباط :
            </dt>
            <dd>
              نستخدم ملفات تعريف الارتباط للتعرف عليك بحال عودتك , والتعرف على اهتماماتك , وذلك لتحسين تجربتك في استخدام الموقع , وبمجرد وصولك لخدماتنا فإنك تقر بموافقتك على السماح لنا بتنزيل ملفات الارتباط الخاصة بنا على جهازك الشخصي . 
            </dd>
            <dt>
              المعلومات الدراسية : 
            </dt>
            <dd>
             نقوم بجمع البيانات المتعلقة بموادك الدراسية التي تسجل بها , حيث نجمع كل ما يتعلق بأسماء المواد , وتاريخ التسجيل بها , وتفاعلاتك مع المحتوى المقدم بها , والزملاء المسجلين بهذه المواد , ومشاركاتك , وتعليقاتك , وكل ما يتعلق بالفصول الدراسية الافتراضية , ونستخدم هذه البيانات في بناء ملفك الشخصي بطريقة أمثل , ولنقترح لك محتوى علمي مشابه لما تهتم به وتشارك به , مما ينعكس لزوما على تجربة استخدامك .
            </dd>
            <dt>
              التطور والتحسين : 
            </dt>
            <dd>
             نقوم بشكل مستمر بتطوير خدماتنا لتحسين تجربة استخدامك , وذلك يعني اننا قد نستخدم طرق جديدة لجمع المعلومات , وقد نقوم بجمع معلومات اضافية , وفي حال قيامنا بذلك سنقوم بإبلاغك في حال كانت هذه التغيرات كبيرة , ويمكنك الرجوع دائما الى هذه الصفحة وتفقد سياساتنا , وسنقوم دائما بإظهار تاريخ آخر تعديل لسياساتنا .
            </dd>
            <dt>
              المنشورات والتعليقات :  
            </dt>
            <dd>
             نقوم بجمع كل ما يتعلق بالمنشورات التي تختار ان تشارك بها متابعيك والمستخدمين , ونتابع كل ما يتعلق بها من مشاهدات ومن تفاعل مباشر من قبل المستخدمين الآخرين , والتعليقات الواردة ضمن مشاركاتك , ونطبق هذه الأحكام على جميع انواع المنشورات (فيديو , صور , ملفات , اقتباسات , استطلاعات رأي , مقالات , ملاحظات , نصوص ) وأينما كانت ضمن الموقع , ونجمع البيانات المتعلقة بردودك وتعليقاتك حول منشورات المستخدمين الآخرين . 
            </dd>
          </dl>
        </li>
        <li>
          معلوماتك التي نشاركها والتي لا نشاركها :
          <dl>
            <dt>
              المتابعات : 
            </dt>
            <dd>
              نسمح للمستخدمين أن يشاهدوا متابعيك والاشخاص الذين قمت انت بمتابعتهم , ونسمح للمستخدمين بإرسال رسائل خاصة لك حتى وان كانوا لا يتابعوك .
            </dd>
            <dt>
              اسمك وتخصصك الدراسي وجامعتك :  
            </dt>
            <dd>
              قوم بإتاحتها لجميع المستخدمين والزوار , في حال بحثهم عنك أو وصولهم لك , او من خلال اقتراحك للمتابعة من قبلهم .
            </dd>
            <dt>
              الجدول الدراسي :   
            </dt>
            <dd>
              نسمح للمستخدمين بمشاهدة جدولك الدراسي , وذلك بمجرد تسجيلك بإحدى المواد الدراسية . 
            </dd>
            <dt>
              منشوراتك و تعليقاتك :    
            </dt>
            <dd>
              نسمح في الصفحة الرئيسية لمتابعيك وللمستخدمين أن يشاهدوا منشوراتك , ولا نمنع أي طرف من مشاهدة منشوراتك , فبمجرد نشرك أي منشور على موقع Edzance فإنك توافق على مشاركة منشوراتك مع جميع من يرغب الوصول لها , وكذلك بالنسبة لتعليقات وتفاعلك مع المنشورات . 
            </dd>
            <dt>
              الرسائل الخاصة :   
            </dt>
            <dd>
              لا نقوم بعرض رسائلك الخاصة مع المستخدمين الآخرين لأي طرف خارجي مهما كانت الأسباب , ونقوم بحذف كل ما يتعلق برسائل المستخدمين مع بعضهم البعض كل (بداية شهر) , ويعني ذلك أنك لن تجد أي رسالة قديمة قمت بإرسالها لأي مستخدم في بداية كل شهر , ونستخدم هذه السياسة لحفظ خصوصية الرسائل بين المستخدمين , ونقوم بالسماح لك بمسح اي رسالة تريد في أي وقت , ونمكنك أيضا أن تقوم بحذف الرسائل من طرفي المحادثة , حيث انه بحال قيامك بإرسال رسالة لشخص ما يمكنك ان تمسح الرسالة من عندك وعنده ولا يمكنك مسح رسائله التي ارسلها لك من عنده .  
            </dd>
            <dt>
             ملفك الشخصي :  
            </dt>
            <dd>
             تعتبر جميع البيانات الواردة في ملفك الشخصي بيانات قابلة للمشاركة مع أي مستخدم ويمكن للجميع تصفحها , ويمكنك انت اختيار البيانات التي تدخلها والتي لا تريد ادخالها وكل معلومة تقوم بإدخالها ستصيح مباشرتا متاحة للجميع .  
            </dd>
            <dt>
             رقم هاتفك والبريد الالكتروني :   
            </dt>
            <dd>
             لن نقوم بمشاركة رقم هاتفك او بريدك الالكتروني الا في حال موافقتك على ذلك , او في حال استخدامك لأي خدمات تطلب منك هذه المعلومات .  
            </dd>
            <dt>
             المواد الدراسية التي تسجل بها :   
            </dt>
            <dd>
             نسمح لزملائك بالمواد الدراسية او التخصص الدراسي او متابعيك برؤية المواد التي قمت بالتسجيل بها , أو غير المتابعين من معرفة المواد الدراسية الخاصة بك .  
            </dd>
            <dt>
             معلومات التواصل غير البريد والهاتف : 
            </dt>
            <dd>
             يمكنك دائما ان تضيف بيانات تسمح للمستخدمين والزوار بالتواصل معك , وفي حال اضافتك اياها ستكون متاحة لكل من يصل الى ملفك الشخصي من زوار ومستخدمين . 
            </dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</section> 