<div class="contacts">
   <div class="member-div-margin">
        <div class="col-md-12 col-sm-12 col-xs-12 p-r-5 p-l-5">
            <input type="hidden" name="frnd-{{$index}}" ng-model="frnd[$index]" value="0">
            <div class="c-item">
                <div class="media">
                    <div class="pull-right">
                        <a ui-sref="app.profile.timeline({id:friend.friend_id})">
                            <img ng-src="img/profile-pics/2.jpg" src="" alt="" class="vc-user-img">
                        </a>
                    </div>
                    <div class="media-body col-md-12 col-sm-12 col-xs-12 p-0 p-t-5 p-b-5">
                        <strong>
                            <span>اديب</span>
                            <span>عثمان</span>
                        </strong>
                        <div class="edzance-color f-15 text-bold">  
                            هندسة حاسوب 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="member-div-margin">
        <div class="col-md-12 col-sm-12 col-xs-12 p-r-5 p-l-5">
            <input type="hidden" name="frnd-{{$index}}" ng-model="frnd[$index]" value="0">
            <div class="c-item">
                <div class="media">
                    <div class="pull-right">
                        <a ui-sref="app.profile.timeline({id:friend.friend_id})">
                            <img ng-src="img/profile-pics/3.jpg" src="" alt="" class="vc-user-img">
                        </a>
                    </div>
                    <div class="media-body col-md-12 col-sm-12 col-xs-12 p-0 p-t-5 p-b-5">
                        <strong>
                            <span>علاء</span>
                            <span>غنيم</span>
                        </strong>
                        <div class="edzance-color f-15 text-bold">  
                            هندسة حاسوب 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="member-div-margin">
        <div class="col-md-12 col-sm-12 col-xs-12 p-r-5 p-l-5">
            <input type="hidden" name="frnd-{{$index}}" ng-model="frnd[$index]" value="0">
            <div class="c-item">
                <div class="media">
                    <div class="pull-right">
                        <a ui-sref="app.profile.timeline({id:friend.friend_id})">
                            <img ng-src="img/profile-pics/4.jpg" src="" alt="" class="vc-user-img">
                        </a>
                    </div>
                    <div class="media-body col-md-12 col-sm-12 col-xs-12 p-0 p-t-5 p-b-5">
                        <strong>
                            <span>حمزة</span>
                            <span>النتشة</span>
                        </strong>
                        <div class="edzance-color f-15 text-bold">  
                            علم حاسوب 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 