 <div class="contacts clearfix">
   <md-content class="Page-container" infinite-scroll='getPost();' infinite-scroll-disabled='$root.busy' infinite-scroll-distance='1' ng-show="nopost == 1">
        <div ng-repeat="friend in dat| orderBy: 'key':true track by $index" class="col-md-6 col-sm-6 col-xs-12 following-box-padding">
            <div class="c-item row m-0">
                  <div class="pull-right">
                    <a ui-sref="app.profile.timeline({id:friend.id})" class="">
                      <img src="img/icons/infinity.svg" lazy-img="{{friend.avatar}}" alt="{{friend.name}}" width="85px" height="85px">
                    </a>
                  </div>
                  <div class="media-body following-con">
                    <a ui-sref="app.profile.timeline({id:friend.id})" class="inline-block">
                        <strong ng-bind="friend.name" class="long-text"></strong>
                        <div ng-bind="friend.university" class="long-text"></div>
                    </a>
                    <div ng-click="(friend.isfriend == false ? friend.isfriend=true : friend.isfriend=false)" class="pull-left">
                      <a ng-click ="(friend.isfriend == false ? $root.follow(friend.id,'follower') : $root.follow(friend.id,'deleted'))" class="btn btn-primary waves-effect waves-button waves-float f-15" >
                        <i class="md md-person-add"></i>
                        <span ng-if="friend.isfriend == false">متابعة</span>
                        <span ng-if="friend.isfriend!= false">الغاء المتابعة</span> 
                      </a>
                    </div>
                  </div>
            </div>
        </div> 
    </md-content>
    <div ng-show="nopost == 3" class="position-relative">
        <div class="empty-img-profile">
          <div class="empty-div">
            <div>
              <img src="img/faces/sad-face.svg">
            </div>
            <div class="text">  
             لا يوجد اصدقاء
            </div> 
          </div>
        </div>
    </div>
</div>