 <section id="content" class="p-t-0">
    <div class="container">
    	<div class="col-md-2 col-sm-3 col-xs-12 m-t-15 text-center">
		   	<img src="img/test/moe.png" alt="" class="institute-img"> 	
            <div class="row">
	            <div class="col-md-12 col-sm-12 col-xs-12">
		            <div class="text-center m-b-40">
			            <div>
			            	<h1 class="f-24">
			            		وزارة التربية والتعليم
			            	</h1>
			            </div>
			            <div class="text-gray">
			            	المتابعين: 3432 عضو
			            </div>
			            <div>
			            	<a class="btn btn-primary btn-block waves-effect waves-button waves-float institute-btn">
	                            متابعة
	                    	</a>
			            </div>
		            </div>
		            <div class="vc-mobile-menu text-right">
			            <div class="tabs-edzance" ui-sref-active="active">
				            <a ui-sref="app.institute.timeline" class="active">
				            	المنشورات
				            </a>
			            </div>
			            <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.about">
			            		المعلومات
			            	</a>
			            </div>
			            <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.members">
			            		الأعضاء
			            	</a>
			            </div>
			            <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.attachments.photos">
			            		المرفقات
			            	</a>
			            </div>
			            <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.colleges">
			            		المؤسسات التابعة  
			            	</a>
			            </div>
			          <!--   <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.events">
			            		الفعاليات  
			            	</a>
			            </div> -->
			        <!--     <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.volunteering">
			            		التطوع   
			            	</a>
			            </div> -->
			            <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.statistics">
			            		الاحصائيات   
			            	</a>
			            </div>
			            <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.messages">
			            		الرسائل    
			            	</a>
			            </div>
			         <!--    <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.jobs">
			            		الوظائف     
			            	</a>
			            </div> -->
			<!--             <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.grant">
			            		المنح والعروض      
			            	</a>
			            </div>
			            <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.vacations">
			            		الاجازات      
			            	</a>
			            </div>
			            <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.groups">
			            		المجموعات      
			            	</a>
			            </div> -->
			         <!--    <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.achievements">
			            		الانجازات      
			            	</a>
			            </div> -->
			            <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.parents">
			            		الأهالي      
			            	</a>
			            </div>
			    <!--         <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.settings">
			            		الاعدادات       
			            	</a>
			            </div> -->
			            <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.marks">
			            		العلامات       
			            	</a>
			            </div>
			<!--             <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.courses">
			            		الدورات       
			            	</a>
			            </div> -->
			            <div class="tabs-edzance" ui-sref-active="active">
			            	<a ui-sref="app.institute.virtualclass">
			            		الصفوف الدراسية       
			            	</a>
			            </div>
		            </div>
	            </div>
            </div>
    	</div>
    	<div class="col-md-10 col-sm-9 col-xs-12">
    		<div class="row m-b-15">
    			<div class="col-md-12 col-sm-12 col-xs-12">	
    				<img src="img/test/moe-cover1.jpg" class="cover-img">
    			</div>
    		</div>
    		<div ui-view="ins"></div>
    	</div>
    </div>
</section>