								<pre>
اتفاقية الاستخدام 
اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية
 الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية
  الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية
   الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية
  الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام 
  اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام
   اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام اتفاقية الاستخدام 
								</pre>
                                <div class="checkbox padding-input">
                                    <label>
                                    <input type="checkbox" ng-model="regconf.stateParams.agree" ng-click="regconf.check()" value="">
                                    <i class="input-helper"></i>
                                    اوافق على شروط الاستخدام
                                    </label>
                                </div>