<header id="header">
  <div class="container login-container">
    <ul class="header-inner p-t-0">
      <li class="logo">
        <a ui-sref="app.landing">
          <img src="img/logo.svg" alt="EDZANCE logo" class="logo-home"/>
           <span class="v-l-middle"></span>
        </a>
         <div class="callout callout-danger" ng-if="vm.loginfailed">
            <h4>فشل تسجيل الدخول</h4>
            <p>ايميل او كلمة سر خاطئة.</p>
        </div>
        <div class="callout callout-danger" ng-if="vm.unverified">
            <h4>لم يتم تأكيد الايميل</h4>
            <p>نرجوا منك الضغط على ايميل التفعيل الموجود في بريدك الالكتروني.</p>
        </div>
      </li>
      <li class="pull-left hidden-xs">
         <login-box></login-box>
      </li>
    </ul>
  </div>
</header>
<section class="homepage">
    <div class="container margin-container reset-password-container">
        <div class="card">
            <div class="card-body p-50">
                <div class="row m-b-15">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <img src="img/edzance-logo/key.svg" width="80px" class="hidden-xs">
                        <img src="img/edzance-logo/key-white.svg" width="80px" class="hidden-lg hidden-md hidden-sm">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <h1>
                            استعادة كلمة المرور
                        </h1>
                    </div>
                </div>
                <div class="row m-b-20">
                    <div class="col-md-12 col-sm-12 col-xs-12 mb-lg text-center edzance-color">
                        يمكنك استعادة بياناتك بواسطة البريد الالكتروني
                    </div>
                </div>
              <forgot-password></forgot-password>
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-xs-12 text-center m-t-15">
                    <a ui-sref="logins.login.index" class="edzance-color f-18">رجوع لصفحة الدخول</a>
                  </div>
              </div>
          </div>
      </div>
    </div>
</section>