<form ng-submit="vm.submit(vm.resetPasswordForm.$valid)" name="vm.resetPasswordForm" novalidate>
  <div ng-if="!vm.isValidToken" layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
<!--   <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
    <h4>{{alert.title}}</h4>
    <p>{{alert.msg}}</p>
  </div> -->
  <div ng-show="vm.isValidToken">
    <div class="form-group has-feedback m-b-15" ng-class="{ 'has-error': vm.resetPasswordForm.password.$invalid && vm.resetPasswordForm.$submitted }">
      <input type="password" class="form-control text-center gray-input" placeholder="ادخل كلمة المرور الجديدة هنا" ng-model="vm.password" name="password" ng-minlength="6" ng-maxlength="50" required>
      <i class="md md-error form-error left-6" tooltip-placement="bottom" uib-tooltip="ادخل كلمة المرور" ng-show="vm.resetPasswordForm.password.$error.required && vm.resetPasswordForm.$submitted" aria-hidden="false"></i>
      <i class="md md-error form-error left-6" tooltip-placement="bottom" uib-tooltip="كلمة المرور طويلة جداً" ng-show="vm.resetPasswordForm.password.$error.maxlength && vm.resetPasswordForm.$submitted" aria-hidden="false"></i>
      <i class="md md-error form-error left-6" tooltip-placement="bottom" uib-tooltip="كلمة المرور قصيرة جداً ، ارجوا ادخال اكثر من 6 احرف" ng-show="vm.resetPasswordForm.password.$error.minlength && vm.resetPasswordForm.$submitted" aria-hidden="false"></i> 
      <i class="md md-error form-error left-6" tooltip-placement="bottom" uib-tooltip="{{vm.errors.password}}" ng-show="vm.resetPasswordForm.$submitted && vm.errors.password" aria-hidden="false"></i>
    </div>
    <div class="form-group has-feedback m-b-15" ng-class="{ 'has-error': vm.resetPasswordForm.password_confirmation.$invalid && vm.resetPasswordForm.$submitted }">
      <input type="password" class="form-control text-center gray-input" placeholder="اعد ادخال كلمة المرور هنا" ng-model="vm.password_confirmation" password-verify="vm.password" name="password_confirmation" ng-minlength="6" ng-maxlength="50" required>
       <i class="md md-error form-error left-6" tooltip-placement="bottom" uib-tooltip="نرجوا منك اعادة كلمة المرور" ng-show="vm.resetPasswordForm.password_confirmation.$error.required && vm.resetPasswordForm.$submitted" aria-hidden="false"></i>
       <i class="md md-error form-error left-6" tooltip-placement="bottom" uib-tooltip="كلمة المرور واعادتها غير متماثلتين" ng-show="vm.resetPasswordForm.password_confirmation.$error.passwordVerify && vm.resetPasswordForm.$submitted" aria-hidden="false"></i>
       <i class="md md-error form-error left-6" tooltip-placement="bottom" uib-tooltip="اعادة كلمة المرور طويلة جداً" ng-show="vm.resetPasswordForm.password_confirmation.$error.maxlength && vm.resetPasswordForm.$submitted" aria-hidden="false"></i>
       <i class="md md-error form-error left-6" tooltip-placement="bottom" uib-tooltip="اعادة كلمة المرور قصيرة ، اكتب اكثر من 6 احرف" ng-show="vm.resetPasswordForm.password_confirmation.$error.minlength && vm.resetPasswordForm.$submitted" aria-hidden="false"></i>
       <i class="md md-error form-error left-6" tooltip-placement="bottom" uib-tooltip="{{vm.errors.password_confirmation}}" ng-show="vm.resetPasswordForm.$submitted && vm.errors.password_confirmation" aria-hidden="false"></i>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary btn-lg btn-block">تغيير كلمة المرور</button>
      </div>
    </div>
  </div>
</form>
