 <section class="edu-ins login-section">
	<div class="container">
		<div class="login-section-padding">
			<div class="row text-right mobile-login">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="inslogin-box">
						<div class="login-box-header">
							<div class="f-20 edzance-color m-b-10">
								تسجيل الدخول للبوابة الإلكترونيه
							</div>
							<div class="text-gray f-16">
								أدخل بريدك الإلكتروني وكلمة المرور الخاصة بك لتتمكن من الوصول والاطلاع على المحتوى..
							</div>
						</div>	
						<div class="login-box-body">
							<div class="m-b-10">
								<input type="text" placeholder="البريد الإلكتروني" class="form-control b-r-5" />
							</div>
							<div class="m-b-10">
								<input type="password" placeholder="كلمة المرور" class="form-control b-r-5"/>
							</div>
							<div class="m-b-10">
								<a class="f-18">
									استعادة كلمة المرور؟
								</a>
							</div>
							<div>
								<a class="btn btn-primary btn-block waves-effect waves-button waves-float f-16">
									تسجيل الدخول 
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="f-20 p-t-30-mobile">
						أهلا بك في البوابة التعليمية
					</div>
					<div class="row p-t-30 p-b-20">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="pull-right-web">
								<img src="img/institution/logo.png" width="85px" />
							</div>
							<div class="pull-right-web p-r-15">
								<div class="f-24 p-t-5">
									وزارة التربية والتعليم
								</div>
								<div class="f-20 p-t-10">
									مدرسة خالد بن الوليد الإبتدائية
								</div>
							</div>
						</div>	
					</div>
					<div class="p-b-30">
						هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما
					</div>
					<div>
						<a class="btn btn-primary waves-effect waves-button waves-float p-10 f-16 start-btn">
							ابدأ الآن
						</a>
						<a class="btn btn-primary waves-effect waves-button waves-float p-10 f-16 more-btn">
							اعرف المزيد ..
						</a> 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
 <section class="edu-ins white-section">
	<div class="container">
		<div class="about-section-padding">
			<div class="row text-right">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="f-24 edzance-color">
						حول مدرسة خالد بن الوليد الأبتدائية
						<hr class="hr-support"/>
					</div>
					<div class="m-t-20">
						<div class="f-20">
							<i class="md md-play-arrow rotate-icon about-arrow-icon"></i>
							نشأة المدرسة
						</div>
						<div class="m-t-10 f-15">
							هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم, ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية الى النص
						</div>
					</div>
					<div class="m-t-30">
						<div class="f-20 m-b-15">
							<i class="md md-play-arrow rotate-icon about-arrow-icon"></i>
							الكادر التعليمي والطلاب
						</div>
						<span>
							<img src="img/institution/icon/teacher.svg" class="student-img"/>
							<span class="student-number">209</span>
							<span class="f-15 p-r-5">مدرسين</span>
						</span>
						<span class="p-r-30">
							<img src="img/institution/icon/student.svg" class="student-img"/>
							<span class="student-number">3095</span>
							<span class="f-15 p-r-5">طلاب</span>
						</span>
					</div>
					<div class="m-t-30">
						<div class="f-20 p-b-10">
							<i class="md md-play-arrow rotate-icon about-arrow-icon"></i>
							معلومات عامة
						</div>
						<div class="f-15">
							نوع المدرسة: <span class="text-gray"> ابتدائية - اعدادية -مشتركة</span>
						</div>
						<div class="f-15">
							الفترات التدريسية: <span class="text-gray"> صباحية / مسائية</span>	
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="p-t-30-mobile">
						<div class="pull-right p-l-10">
							<img src="img/institution/icon/location.svg" width="40px"/>
						</div>
						<div class="m-b-10 edzance-color">
							<span class="f-24">الموقع الجغرافي</span>
							<hr class="hr-support m-r-55"/>
						</div>
					</div>
					<div class="f-16 text-bold">
						<i class="md md-keyboard-arrow-left location-arrow"></i>
						المملكة الأردنية الهاشمية - عمان 
					</div>
					<div class="f-16 text-bold">
						<i class="md md-keyboard-arrow-left location-arrow"></i>
						المحافظة الشمالية - مدينة السلام 
					</div>
					<div class="f-16 text-bold">
						<i class="md md-keyboard-arrow-left location-arrow"></i>
						الرينبو - شارع السفارة التونسية
					</div>
					<div class="m-t-30">
						<img src="img/institution/test/map.jpg" width="100%">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
 <section class="edu-ins management-section">
	<div class="container">
		<div class="management-padding">
			<div class="row text-center">
				<div class="col-md-12 col-sm-12 col-xs-12 f-24 edzance-color">
					الهيئة الإدارية
					<hr class="hr-support hr-center">
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6 p-t-30-mobile">
					<img src="img/institution/test/1.png" width="100%">
					<div class="f-16 edzance-color m-t-15 text-bold">
						مدير المدرسة
					</div>
					<div class="f-16 text-bold">
						وليد عبدالقادر شومان
					</div>
					<div class="m-t-10">
						<div class="btn-group">
						 	<button type="button" class="btn btn-primary border-radius-0 f-16 btn-right">السيرة الذاتية</button>
						 	<button type="button" class="btn btn-primary f-16 btn-left">
								<i class="md md-file-download"></i>
						  	</button>
					  	</div>
					</div>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12 manag-padding">
					<div class="col-md-4 col-sm-4 col-xs-6 p-t-30-mobile">
						<img src="img/institution/test/2.png" width="100%">
						<div class="f-16 edzance-color text-bold m-t-15">
							مساعد المدير
						</div>
						<div class="f-16 text-bold">
							إحسان النويري
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 p-t-30-mobile">
						<img src="img/institution/test/3.png" width="100%">
						<div class="f-16 edzance-color text-bold m-t-15">
							نائب المدير
						</div>
						<div class="f-16 text-bold">
							صلاح توفيق
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 p-t-30-mobile">
						<img src="img/institution/test/4.png" width="100%">
						<div class="f-16 edzance-color text-bold m-t-15">
							منسق عام المدرسة
						</div>
						<div class="f-16 text-bold	">
							نور الحساينة
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
 <section class="edu-ins white-section">
	<div class="container">
		<div class="teacher-padding">
			<div class="row text-center">
				<div class="col-md-12 col-sm-12 col-xs-12 f-24 edzance-color">
					الهيئة التدريسية
					<hr class="hr-support hr-center">
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-12 col-sm-12 col-xs-12 text-gray f-15">
					<div class="center-element m-w-50">
						هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم, ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية الى النص
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6 teacher-container">
					<img src="img/institution/test/t1.jpg" width="100%">
					<div class="teacher-name">
						<div class="teacher-text">
							<div>سامية أبوشاهين</div>
							<div>الجغرافيا والتاريخ</div>
							<div class="teacher-body m-t-15">
								هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيسوم, ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 teacher-container">
					<img src="img/institution/test/t2.jpg" width="100%">
					<div class="teacher-name">
						<div class="teacher-text">
							<div>نبيل سلطان</div>
							<div>لغة العربية</div>
							<div class="teacher-body m-t-15">
								هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيسوم, ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 teacher-container">
					<img src="img/institution/test/t3.jpg" width="100%">
					<div class="teacher-name">
						<div class="teacher-text">
							<div>وئام السيد علي</div>
							<div>الجغرافيا والتاريخ</div>
							<div class="teacher-body m-t-15">
								هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيسوم, ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 teacher-container">
					<img src="img/institution/test/t4.jpg" width="100%">
					<div class="teacher-name">
						<div class="teacher-text">
							<div>رائد السمراوي</div>
							<div>اللغة الانجليزية</div>
							<div class="teacher-body m-t-15">
								هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيسوم, ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="edu-ins">
	<div class="container">
		<div class="contact-school">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 f-24 edzance-color">
							الإتصال بالمدرسة
							<hr class="hr-support">
						</div>
					</div>
					<div class="row m-t-30">
						<div class="col-md-12 col-sm-12 col-xs-12 f-15 text-gray">
							هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم, ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية الى النص
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="m-t-30">
								<img src="img/institution/icon/tel.svg" class="footer-icon"/>
								<span>
									الهاتف: +6544539872
								</span>
							</div>
							<div class="m-t-10">
								<img src="img/institution/icon/mobile.svg" class="footer-icon"/>
								<span>
									محمول: 00962799999999
								</span>
							</div>
							<div class="m-t-10">
								<img src="img/institution/icon/envelope.svg" class="footer-icon"/>
								<span>
									البريد: info@edzance.com
								</span>
							</div>
							<div class="m-t-10">
								<img src="img/institution/icon/tel.svg" class="footer-icon"/>
								<span>
									وزارة التربية والتعليم
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12 p-t-30-mobile">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<img src="img/institution/test/c1.png" width="100%">
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 m-t-12-mobile">
							<img src="img/institution/test/c2.png" width="100%">
							<img src="img/institution/test/c3.png" width="100%" class="m-t-12">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>