<section id="content" class="p-t-0">
    <div class="container">
    	<div class="card">
	    	<div class="card-body"> 
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 text-center p-t-20 p-b-20">
						<div class="m-b-8">
							<img src="/images/avatar/default.jpg" class="course-img">
						</div>
						<div class="f-16 text-bold m-b-5">
							أ.داريين ممدوح سلامة
						</div>
						<div class="m-b-5">
							<div class="rl-star">
	                            <i class="md md-star active"></i>
	                            <i class="md md-star active"></i>
	                            <i class="md md-star active"></i>
	                            <i class="md md-star"></i>
	                            <i class="md md-star"></i>
	                            4.1 <span class="text-gray">(661)</span>
	                        </div>
						</div>
						<div class="m-b-10 text-gray f-13">
							EXPERT ECONOMIC
						</div>
						<div>
							<a class="btn btn-primary f-15 p-r-25 p-l-25 waves-effect waves-button waves-float">
		                        السيرة الذاتية
		                    </a>
						</div>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12 p-r-0">
						<img src="/img/course/code-cover.jpg" width="100%">
					</div>
				</div>
				<div class="course-box-padding">
					<div class="row m-b-10">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="f-17">
								<span class="text-bold">
									حقيبة دورة مهارات القيادة وسبل التأثير على الآخرين وتطوير الذات ..
								</span>
								<div class="pull-left">
									<span class="text-gray f-16">سعر الدورة:</span> 559$
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div>
								<div class="inline-block p-t-10">
									<span class="text-gray">تقييم الدورة:</span> 
									<span class="rl-star">
			                            <i class="md md-star active"></i>
			                            <i class="md md-star active"></i>
			                            <i class="md md-star active"></i>
			                            <i class="md md-star"></i>
			                            <i class="md md-star"></i>
			                            4.1
			                        </span>
			                        <span class="p-r-5 p-l-5">|</span>
			                        <span class="text-gray">عدد المشتركين:</span> 45633 
			                        <span class="p-r-5 p-l-5">|</span>
			                        <span class="text-gray">تصنيف المساق:</span> ادارة الأعمال
								</div>
								<div class="pull-left">
									<a class="btn btn-primary f-15 p-r-25 p-l-25 waves-effect waves-button waves-float">
				                        احصل على الدورة
				                    </a>
								</div>
							</div>
						</div>
					</div>
					<hr class="m-r-0 m-l-0 m-t-20 m-b-20"/>
						<div class="row">
							<div class="col-md-8 col-sm-8 col-xs-12">
								<div class="m-b-15">
									<div class="f-16 m-b-10 text-bold">
										وصف الدورة
									</div>
									<div class="text-gray f-15">
										هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
										إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
									</div>
								</div>
								<div class="m-b-15">
									<div class="f-16 m-b-10 text-bold">
										ما هي  المتطلبات الأساسية قبل البدء بالدورة
									</div>
									<div class="text-gray f-15">
										<ul class="p-r-20">
											<li>
												هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة
											</li>
											<li>
												قد تم توليد هذا النص من مولد النص العربى
											</li>
											<li>
												حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص 
											</li>
											<li>
												الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق
											</li>
										</ul>
									</div>
								</div>
								<div class="m-b-15">
									<div class="f-16 m-b-10 text-bold">
										ماذا سيتعلم المتدربين قبل البدء بالدورة
									</div>
									<div class="text-gray f-15">
										<ul class="p-r-20">
											<li>
												هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة
											</li>
											<li>
												قد تم توليد هذا النص من مولد النص العربى
											</li>
										</ul>
									</div>
								</div>
								<div class="m-b-15">
									<div class="f-16 m-b-10 text-bold">
										دورات اضافية للمدرب <span class="text-gray">(4)</span>
									</div>
									<div class="text-gray f-15">
										<div class="row m-row">
											<div class="col-sm-4 p-r-5 p-l-5">
												<div class="group-box">
												    <a>
													    <div class="position-relative">
													        <img width="100%" height="120" src="/images/showcase/default.jpg">
													    </div>
													    <div class="p-10 m-t-5">
													        <div class="f-18 text-black long-text">
													        	دورة القيادة والأشراف
													        </div>
													        <div class="text-black">
													            <span class="rl-star">
										                            <i class="md md-star active"></i>
										                            <i class="md md-star active"></i>
										                            <i class="md md-star active"></i>
										                            <i class="md md-star"></i>
										                            <i class="md md-star"></i>
										                            4.1 <span class="text-gray">(661)</span>
										                        </span>
													        </div>
													        <div>
													        	<span class="text-black">$95</span>
													        	<span class="text-gray pull-left">
													        		4547 مشترك
													        	</span>
													        </div> 
													    </div>
												    </a>
												</div>
											</div>
											<div class="col-sm-4  p-r-5 p-l-5">
												<div class="group-box">
												    <a>
													    <div class="position-relative">
													        <img width="100%" height="120" src="/images/showcase/default.jpg">
													    </div>
													    <div class="p-10 m-t-5">
													        <div class="f-18 text-black long-text">
													        	دورة القيادة والأشراف
													        </div>
													        <div class="text-black">
													            <span class="rl-star">
										                            <i class="md md-star active"></i>
										                            <i class="md md-star active"></i>
										                            <i class="md md-star active"></i>
										                            <i class="md md-star"></i>
										                            <i class="md md-star"></i>
										                            4.1 <span class="text-gray">(661)</span>
										                        </span>
													        </div>
													        <div>
													        	<span class="text-black">$95</span>
													        	<span class="text-gray pull-left">
													        		4547 مشترك
													        	</span>
													        </div> 
													    </div>
												    </a>
												</div>
											</div>
											<div class="col-sm-4  p-r-5 p-l-5">
												<div class="group-box">
												    <a>
													    <div class="position-relative">
													        <img width="100%" height="120" src="/images/showcase/default.jpg">
													    </div>
													    <div class="p-10 m-t-5">
													        <div class="f-18 text-black long-text">
													        	دورة القيادة والأشراف
													        </div>
													        <div class="text-black">
													            <span class="rl-star">
										                            <i class="md md-star active"></i>
										                            <i class="md md-star active"></i>
										                            <i class="md md-star active"></i>
										                            <i class="md md-star"></i>
										                            <i class="md md-star"></i>
										                            4.1 <span class="text-gray">(661)</span>
										                        </span>
													        </div> 
													        <div>
													        	<span class="text-black">$95</span>
													        	<span class="text-gray pull-left">
													        		4547 مشترك
													        	</span>
													        </div> 
													    </div>
												    </a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="m-b-15">
									<div class="f-16 m-b-10 text-bold">
										الموارد التعليمية للدورة
									</div>
									<div class="text-gray f-15">
										<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									  	<div class="panel panel-default">
										    <div class="panel-heading" role="tab" id="headingOne">
										      <h4 class="panel-title">
										        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="course-collapsed">
										        	<div class="row f-16">
											        	<div class="col-md-7">	  
											        		<i class="md md-control-point f-18 p-l-5"></i>
											        		<i class="md md-remove-circle-outline f-18 p-l-5"></i>	
											          		القسم الأول
											        	</div>
											        	<div class="col-md-3 text-gray">	  
											          		5 محاضرات
											        	</div>
											        	<div class="col-md-2 text-gray">	  
											          		11:06:53
											        	</div>
										        	</div>
										        </a>
										      </h4>
										    </div>
										    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										      	<div class="panel-body">
											        <div class="row">
											        	<div class="col-md-7 text-gray p-r-30">
											          		<i class="md md-play-circle-outline"></i> المحاضرة الأولى 
											        	</div>
											        	<div class="col-md-3 text-gray">	  
											          		مشاهدة مجانية
											        	</div>
											        	<div class="col-md-2 text-gray">	  
											          		11:06
											        	</div>
										        	</div>
										        	<hr class="m-t-10 m-b-10"/>
										        	<div class="row">
											        	<div class="col-md-7 text-gray p-r-30">	  
											          		<i class="md md-play-circle-outline"></i>  المحاضرة الثانية 
											        	</div>
											        	<div class="col-md-3 text-gray">	  
											          		مشاهدة مجانية
											        	</div>
											        	<div class="col-md-2 text-gray">	  
											          		11:06
											        	</div>
										        	</div>
										        	<hr class="m-t-10 m-b-10"/>
										        	<div class="row">
											        	<div class="col-md-7 text-gray p-r-30">	  
											          		<i class="md md-play-circle-outline"></i> المحاضرة الثالثة 
											        	</div>
											        	<div class="col-md-3 text-gray">	  
											          		مشاهدة مجانية
											        	</div>
											        	<div class="col-md-2 text-gray">	  
											          		11:06
											        	</div>
										        	</div>
										        </a>
										      </div>
										    </div>
										  </div>
										  <div class="panel panel-default">
										    <div class="panel-heading" role="tab" id="headingTwo">
										      <h4 class="panel-title">
										        <a class="collapsed course-collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										          	<div class="row f-16">
											        	<div class="col-md-7">	 
											        		<i class="md md-control-point f-18 p-l-5"></i>
											        		<i class="md md-remove-circle-outline f-18 p-l-5"></i>	 
											          		القسم الثاني
											        	</div>
											        	<div class="col-md-3 text-gray">	  
											          		5 محاضرات
											        	</div>
											        	<div class="col-md-2 text-gray">	  
											          		11:06:53
											        	</div>
										        	</div>
										        </a>
										      </h4>
										    </div>
										    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										      <div class="panel-body">
													<div class="row">
											        	<div class="col-md-7 text-gray p-r-30">	
											        		<i class="md md-play-circle-outline"></i>   
											          		المحاضرة الأولى 
											        	</div>
											        	<div class="col-md-3 text-gray">	  
											          		مشاهدة مجانية
											        	</div>
											        	<div class="col-md-2 text-gray">	  
											          		11:06
											        	</div>
										        	</div>
										        	<hr class="m-t-10 m-b-10"/>
										        	<div class="row">
											        	<div class="col-md-7 text-gray p-r-30">	  
											        		<i class="md md-play-circle-outline"></i> 
											          		المحاضرة الثانية 
											        	</div>
											        	<div class="col-md-3 text-gray">	  
											          		مشاهدة مجانية
											        	</div>
											        	<div class="col-md-2 text-gray">	  
											          		11:06
											        	</div>
										        	</div>
										        	<hr class="m-t-10 m-b-10"/>
										        	<div class="row">
											        	<div class="col-md-7 text-gray p-r-30">	
											        		<i class="md md-play-circle-outline"></i> المحاضرة الثالثة 
											        	</div>
											        	<div class="col-md-3 text-gray">	  
											          		مشاهدة مجانية
											        	</div>
											        	<div class="col-md-2 text-gray">	  
											          		11:06
											        	</div>
										        	</div>										      </div>
										    </div>
										  </div>
										  <div class="panel panel-default">
										    <div class="panel-heading" role="tab" id="headingThree">
										      <h4 class="panel-title">
										        <a class="collapsed course-collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										          <div class="row f-16">
											        	<div class="col-md-7">	
											        		<i class="md md-control-point f-18 p-l-5"></i>
											        		<i class="md md-remove-circle-outline f-18 p-l-5"></i>	  
											          		القسم الثالث
											        	</div>
											        	<div class="col-md-3 text-gray">	  
											          		5 محاضرات
											        	</div>
											        	<div class="col-md-2 text-gray">	  
											          		11:06:53
											        	</div>
										        	</div> 
										        </a>
										      </h4>
										    </div>
										    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										      <div class="panel-body">
										        <div class="row">
										        	<div class="col-md-7 text-gray p-r-30">	  
										          		<i class="md md-play-circle-outline"></i> المحاضرة الأولى 
										        	</div>
										        	<div class="col-md-3 text-gray">	  
										          		مشاهدة مجانية
										        	</div>
										        	<div class="col-md-2 text-gray">	  
										          		11:06
										        	</div>
									        	</div>
									        	<hr class="m-t-10 m-b-10"/>
									        	<div class="row">
										        	<div class="col-md-7 text-gray p-r-30">	  
										          		<i class="md md-play-circle-outline"></i> المحاضرة الثانية 
										        	</div>
										        	<div class="col-md-3 text-gray">	  
										          		مشاهدة مجانية
										        	</div>
										        	<div class="col-md-2 text-gray">	  
										          		11:06
										        	</div>
									        	</div>
									        	<hr class="m-t-10 m-b-10"/>
									        	<div class="row">
										        	<div class="col-md-7 text-gray p-r-30">	  
										          		<i class="md md-play-circle-outline"></i> المحاضرة الثالثة 
										        	</div>
										        	<div class="col-md-3 text-gray">	  
										          		مشاهدة مجانية
										        	</div>
										        	<div class="col-md-2 text-gray">	  
										          		11:06
										        	</div>
									        	</div>
										      </div>
										    </div>
										  </div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12 b-r-1">
								<div>
									<div class="f-16 m-b-10 text-bold">
										بعد انتهاء الدورة تحصل على:
									</div>
									<div>
										<div class="m-b-10">
											<i class="md md-videocam course-icon"></i>
											<span class="f-15 text-gray">50 ساعة تدريبية</span>
										</div>
										<div class="m-b-10">
											<i class="md md-description course-icon"></i>
											<span class="f-15 text-gray">30 مقالة مرتبطة بالدورة</span>
										</div>
										<div class="m-b-10">
											<i class="md  md-tablet-mac course-icon"></i>
											<span class="f-15 text-gray">50 وصول من الهاتف باي وقت</span>
										</div>
										<div class="m-b-10">
											<i class="md md-stars course-icon"></i>
											<span class="f-15 text-gray">شهادة اتمام الدورة بنجاح</span>
										</div>
										<div class="m-b-10">
											<i class="md md-assistant-photo course-icon"></i>
											<span class="f-15 text-gray">وصول دائم لموارد الدورة</span>
										</div>
										<div class="m-b-10">
											<i class="md md-bookmark course-icon"></i>
											<span class="f-15 text-gray">20 مصدر تعليمي للدورة</span>
										</div>
										<div class="m-b-10">
											<i class="md md-work course-icon"></i>
											<span class="f-15 text-gray">معارف جديدة لسوق العمل</span>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>