<section class="homepage">
    <div class="container margin-container reset-password-container">
        <div class="card">
            <div class="card-body card-padding p-15">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <img src="img/edzance-logo/key.svg" width="80px" class="hidden-xs">
                        <img src="img/edzance-logo/key-white.svg" width="80px" class="hidden-lg hidden-md hidden-sm">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <h1 class="m-b-20">
                            استعادة كلمة المرور
                        </h1>
                    </div>
                </div>
              <reset-password></reset-password>
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-xs-12 text-center m-t-5">
                    <a ui-sref="logins.login.index">رجوع لصفحة الدخول</a>
                  </div>
              </div>
          </div>
      </div>
    </div>
</section>