 <section id="content">
    <div class="container">
    	<div class="col-md-2 col-sm-5 col-xs-12">
    		<div class="card">
                <div class="card-body card-padding">
        		   <img src="img/pioneer.png" width="100%" alt="" class=""> 	
                </div>
            </div>
            <div class="row">
	            <div class="col-md-12 col-sm-12 col-xs-12">
		            <div>
		            	<h1 class="f-n-30">
		            		 اكاديمية الرواد للتدريب
		            	</h1>
		            	<h2 class="m-b-30">
							الأردن		            		
		            	</h2>
		            </div>
		            <div class="tabs-edzance" ui-sref-active="active">
			            <a ui-sref="app.companies.timeline" class="active">
			            	المنشورات
			            </a>
		            </div>
		            <div class="tabs-edzance" ui-sref-active="active">
		            	<a ui-sref="app.companies.about">
		            	عن الشركة
		            	</a>
		            </div>
		            <div class="tabs-edzance" ui-sref-active="active">
		           	 <a ui-sref="app.companies.photos">
		            	الصور
		            	</a>
		            </div>
		            <div class="tabs-edzance" ui-sref-active="active">
		           	 <a ui-sref="app.companies.videos">
		            	الفيديو
		            	</a>
		            </div>
	            </div>
            </div>
    	</div>
    	<div class="col-md-10 col-sm-7 col-xs-12">
    		<div class="row">
    			<div class="col-md-12 col-sm-12 col-xs-12">	
    				<img src="/img/photo2.png" class="cover-img">
    			</div>
    		</div>
    		<div ui-view></div>
    	</div>
    </div>
</section>