<div class="pmb-block clearfix photos">
    <!-- <div class="p-header">
        <ul class="p-menu">
            <li ui-sref-active="active"><a ui-sref="app.profile.photo.photo({id:$parent.pro.userData.id})"><i class="md md-insert-photo"></i> الصور</a></li>
            <li ui-sref-active="active"><a ui-sref="app.profile.photo.video({id:$parent.pro.userData.id})"><i class="md md-video-collection"></i> الفيديو</a></li>
        </ul>
        
        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="md md-more-vert"></i>
                </a>
    
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div> -->
    
   <!--  <button class="btn btn-float btn-danger"><i class="md md-add"></i></button> -->
        

    
    <div ui-view='media'></div>
</div>