<section id="content">
    <div class="container">
		<div class="row m-0">	
			<div class="col-md-12 col-sm-12 col-xs-12 groups-title">
				<div class="pull-right">
					<i class="md md-account-balance"></i>
					بنك الكتب
				</div>
				<div class="pull-left">
					<a ui-sref="app.mybooks" class="btn btn-primary waves-effect waves-button waves-float f-15 p-t-4 p-b-4 btn-membership" >
						<i class="md md-book"></i>
						كتبي
					</a>
				</div>
			</div> 
		</div>
		<div class="row m-0 text-center">
			<div ui-view="booksbank"></div> 
		</div>
	</div>
</section> 