<section id="content">
    <div class="container">
    	<div class="row m-0-mobile">
	        <div class="col-md-7 col-sm-7">
	        	<div class="row">	
					<div class="col-md-12 col-sm-12 col-xs-12 groups-title">
						<div class="pull-right">
							<i class="md md-work"></i>
							وظائف مؤقته
						</div>
					</div> 
				</div>
			 	<div ui-view="jobs"></div>
	<!-- 			<div class="card">
					<div class="card-body">
						<div class="row m-0 m-t-15">	
							<div class="col-md-3 col-sm-3 col-xs-12">
								<img src="img/edzance-logo.png" class="jop-img"/>
							</div>  
							<div class="col-md-9 col-sm-9 col-xs-12 p-t-10 p-b-10">
								<div class="f-20 text-bold">
									مبرمج ويب
								</div>
								<div class="f-15 text-bold">
									إدزانس - عمان , الاردن
								</div>
								<div class="p-b-10 text-gray">
									منذ 2 أيام
								</div>
								<div class="read-more" r-m>
									مطلوب طلبة لديهم المام بلغات البرمجه ولديهم دافع التعلم.  
								</div>
							</div>  
						</div>
					</div>
				</div> -->
				<!-- <div class="card">
					<div class="card-body">
						<div class="row m-0 m-t-15">	
							<div class="col-md-3 col-sm-3 col-xs-12">
								<img src="img/test/zain.png" class="jop-img"/>
							</div>  
							<div class="col-md-9 col-sm-9 col-xs-12 p-t-10 p-b-10">
								<div class="f-20 text-bold">
									زين شباب
								</div>
								<div class="f-15 text-bold">
									زين - عمان , الاردن
								</div>
								<div class="p-b-10 text-gray">
									منذ 2 أيام
								</div>
								<div class="read-more" r-m>
									مطلوب طلبه جامعين للتدريبهم وصقل مهاراتهم ضم برنامج تدريبي بتزامن مع دراستهم الجامعيه.  
								</div>
							</div>  
						</div>
					</div>
				</div> -->
<!-- 				<div class="card">
					<div class="card-body">
						<div class="row m-0 m-t-15">	
							<div class="col-md-3 col-sm-3 col-xs-12">
								<img src="img/test/manaseer.jpg" class="jop-img"/>
							</div>  
							<div class="col-md-9 col-sm-9 col-xs-12 p-t-10 p-b-10">
								<div class="f-20 text-bold">
									تدريب المهندسين
								</div>
								<div class="f-15 text-bold">
									المناصير - عمان , الاردن
								</div>
								<div class="p-b-10 text-gray">
									منذ 5 أيام
								</div>
								<div class="read-more" r-m>
									مطلوب طلبه مهندسين جامعين للتدريبهم وصقل مهاراتهم ضم برنامج تدريبي بتزامن مع دراستهم الجامعيه.مطلوب طلبه مهندسين جامعين للتدريبهم وصقل مهاراتهم ضم برنامج تدريبي بتزامن مع دراستهم الجامعيه.مطلوب طلبه مهندسين جامعين للتدريبهم وصقل مهاراتهم ضم برنامج تدريبي بتزامن مع دراستهم الجامعيه.مطلوب طلبه مهندسين جامعين للتدريبهم وصقل مهاراتهم ضم برنامج تدريبي بتزامن مع دراستهم الجامعيه.مطلوب طلبه مهندسين جامعين للتدريبهم وصقل مهاراتهم ضم برنامج تدريبي بتزامن مع دراستهم الجامعيه.مطلوب طلبه مهندسين جامعين للتدريبهم وصقل مهاراتهم ضم برنامج تدريبي بتزامن مع دراستهم الجامعيه.     
								</div>
							</div>  
						</div>
					</div>
				</div> -->
	        </div>
	        <div class="col-md-5 col-sm-5">
	        	<div>
	                <h4>
	                    <i class="md md-wallet-travel"></i>
	                    إعلان
	                </h4>
	            </div>
	            <div>
	            	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- jops -->
					<ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-2067358913948217"
					data-ad-slot="4056707818"
					data-ad-format="auto"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
	            </div>
	            <div class="text-center">
	                <a class="f-15 text-gray" ui-sref="app.privacy-login">الخصوصية</a> - <a class="f-15 text-gray" ui-sref="app.support">مركز المساعدة</a> - <a class="f-15 text-gray" ui-sref="institution.index">المؤسسات التعليمية</a>
	            </div>
	            <div class="f-15 text-gray text-center">
	                <span class="m-r-5">
	                Edzance © 2017 
	            </span>
	                <img src="img/logo-small.svg" class="edzance-logo-xs">
	            </div> 
	        </div>
    	</div>
    </div>
</section>