<div class="pmb-block">
    <div class="p-header">
        <ul class="p-menu m-b-10">
            <li ui-sref-active="active">
                <a ui-sref="app.group.attachments.photos" >
                    <i class="md md-camera"></i> الصور
                </a>
            </li>
            <li ui-sref-active="active" >
                <a  ui-sref="app.group.attachments.videos" class="p-r-0">
                    <i class="md md-play-circle-fill"></i>الفيديو
                </a>
            </li>
        <!--     <li ui-sref-active="active" >
                <a  ui-sref="app.group.attachments.files" class="p-r-0">
                    <i class="md md-description"></i>الملفات
                </a>
            </li> -->
        </ul>
    </div>
    <div class="contacts clearfix row">
      <div ui-view></div>
    </div>
</div>