<div class="group-box">
    <a ui-sref="app.group({groupid:group.id})">
    <div class="position-relative">
        <img lazy-img="{{group.cover}}" width="100%" height="120">
        <div class="member-img-div">
            <img ng-repeat="(key,user) in group.user | orderBy: 'key':true | limitTo: 5" ng-src="{{user.avatar}}" class="group-member-img" />
        </div>
    </div>
    <div class="p-10 m-t-5">
        <div class="f-18 text-black long-text" ng-bind="group.name"></div>
        <div class="text-black">
            الأعضاء <span ng-bind="group.user.length"></span>
        </div>
        <div>
            <strong class="f-18" ng-if="group.type != 'suggested'">
                 دخول
            </strong>
            <strong class="f-18" ng-if="group.type == 'suggested'">
                 تسجيل
            </strong>
        </div> 
    </div>
    </a>
</div>