<section id="content">
    <div class="container">
		<div class="row">	
			<div class="col-md-12 col-sm-12 col-xs-12 groups-title">
				<div class="pull-right">
					<i class="md  md-local-library"></i>
					دوراتي
				</div>
			</div> 
			<div class="col-md-3 col-sm-3 col-xs-6 p-r-5 p-l-5 m-b-10">
				<div>
					<div class="group-box">
					    <a ui-sref="app.institute.timeline({instituteid: side.userData.id})">
						    <div class="position-relative">
						        <img width="100%" height="120" src="/images/showcase/default.jpg">
						    </div>
						    <div class="p-10 m-t-5">
						        <div class="f-18 text-black long-text">
						        	الجامعة الأردنية
						        </div>
						        <div class="text-black">
						            الأعضاء <span ng-bind="group.user.length">1</span>
						        </div>
						        <div>
						        	<strong class="f-18	">
						                 دخول
						            </strong>
						        </div> 
						    </div>
					    </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>