<div class="card">
	<div class="card-body card-padding">
		<h1 class="m-0 f-24">
			نصائح من شبكة ادزانس لزيادة فاعِلِيَّة المادة , ولزيادة ارتباط الطالب في المادة الدراسية .
		</h1>
		<h2 class="f-22">
			<u>
				أولا : النقاشات الدراسية . 
			</u>
		</h2>
		<div>
			تعتبر النقاشات وسيلة حديثة  لتفعيل التفاعل في المادة الدراسية , وتمكن المدرس من فهم الطلبة وفهم احتياجاتهم , وقياس مستوى التفاعل لكل طالب , ومستوى التقدم لكل طالب , لذلك ينصح بطرح نقاشات بين المدرس والطلبة بشكل مستمر . 
		</div>
		<ul>
			<li>
				ينصح بطرح نقاشات عامة حول المادة , على سبيل الذكر لا الحصر (مثال : اذا كانت المادة الدراسية هي ( الرياضيات العامة ) , يقوم المدرس بسؤال طلبته ( ما رأيكم في مادة الرياضيات العامة ؟ ) , ومثال آخر يسأل المدرس الطلبة ( ماذا تتوقعون أثر هذه المادة على حياتكم ( الدراسية من جهة , العلمية العامة من جهة ثانية , العملية من جهة أخرى ؟ ) , ومثال أخر يسأل المدرس الطلبة ( ما هي الوسائل الأنسب لتدريس المادة , هل يكفي اللوح التدريسي أم أننا نحتاج الى فيديوهات أو صور أو تطبيقات على الهواتف النقالة أو برمجيات موجودة على الحاسوب أو غيرها من الوسائل الابداعية ؟ ) . 
			</li>
			<li>
				ينصح بطرح نقاشات مختلفة تسأل الطلبة عن جديد الاختراعات والتطبيقات والانجازات المتعلقة في المادة الدراسية أو المبنية عليها . 
			</li>
			<li>
				ينصح بالتجاوب الشخصي مع النقاشات التي يطرحها الطلبة , وفتح أبواب أوسع للنقاش بين الطالب والمدرس .
			</li>
			<li>
				ينصح بعدم حذف أي نقاش للطلبة فقد يسيء ذلك لنفسياتهم وربما ينعكس عليهم بشكل سلبي بما يدعوهم لاحقا الى عدم الدخول بأي نقاشات , الا النقاشات التي قد تحتوي اساءات او اي كلام خارج السياق . 
			</li>
			<li>
				في النقاشات الواسعة والجديدة والتي لاقت صداً بين الطلبة ينصح بربطها بطريقة معينة في المنهاج الدراسي , كأن ( مثال : ان يقوم الطلبة بكتابة تقرير حول الموضوع الذي طرح للنقاش , أو أن يقوم أحد الطلبة الأشد تفاعلا بتجهيز عرض تقديمي حول الموضوع ) . 
			</li>
			<li>
				ينصح بطرح نقاشات تسمح للطلبة بإعطاء رأيهم بالطريقة التي يتم فيها تدريس المادة  , وهل هذه الوسائل تعتبر كافية ؟ . 
			</li>
			<li>
				ينصح بطلب رأي الطلبة بالمدرس نفسه , وأن لا ترتبط آراء الطلبة بأي شكل من الأشكال على تحصيلهم الدراسي , كأن يقوم الطلبة بانتقاد المدرس في جانب من الجوانب , فكلنا يجب أن نحترم آراء الآخرين . 
			</li>
			<li>
				نشجع على احترام أي نقاش للطلبة , حيث يجب أن لا يهمل أي نقاش لطالب , ويجب الأخذ بعين الاعتبار أن الطلبة غالبا ما يميلون الى لفت الانتباه حولهم , ويعتبر هذا الامر ايجابي حيث أن الطالب يجب أن يكون نشيط وذكي ويجب أن يلفت انتباه مدرسه اليه .  
			</li>
			<li>
				نشجع على طرح النقاشات التي تزيد اهتمام الطلبة في تخصصهم الدراسي . 
			</li>
		</ul>
		<h2 class="f-22">
			<u>
				ثانيا : الملفات الدراسية  
			</u>
		</h2>
		<ul>
			<li>
				ينصح باختيار أسماء واضحة للملفات  تساعد على أن تكون هذه الملفات واضحة للطلبة .  
			</li>
			<li>
				ينصح بتقسم الملفات الدراسية بشكل مدروس , بحيث يمكن المدرس من تنظيم ملفاته بطريقة أذكى وأسرع .  
			</li>
			<li>
				ينصح برفع الملفات المتعلقة بالمادة بوقتها المناسب , مما يمكن الطلبة على التركيز أكثر في المحتوى الخاص في المرحلة الدراسية التي يمرون بها . 
			</li>
			<li>
				نشجع على رفع الملفات المتعلقة في المادة التي سيتم تدريسها بعد الانتهاء من المرحلة الدراسية الحالية قبل فترة لا تتجاوز اسبوع , لكي يستطيع الطلبة تصفحها . 
			</li>
			<li>
				في النقاشات الواسعة والجديدة والتي لاقت صداً بين الطلبة ينصح بربطها بطريقة معينة في المنهاج الدراسي , كأن ( مثال : ان يقوم الطلبة بكتابة تقرير حول الموضوع الذي طرح للنقاش , أو أن يقوم أحد الطلبة الأشد تفاعلا بتجهيز عرض تقديمي حول الموضوع ) . 
			</li>
			<li>
				نشجع على رفع الملفات الدراسية في مكان واحد , وعدم اختيار أكثر من مكان لرفع المواد الدراسية , مما يساهم في ترتيب الملفات الدراسية بطريقة مستمرة وواضحة  ويساعد في عدم تشتيت الطلبة , ( وهنا ننصحك في استعمال شبكة ادزانس كوسيلة أساسية لرفع المحتوى التدريسي الخاص بك , حيث نمكنك من الاحتفاظ بملفاتك بطريقة رائعة , ونساعد الطلبة على الأمر عينه , ويسهل عن طريق ادزانس أن تحصل على الملفات الدراسية عبر هاتفك الشخصي أو عبر جهاز الحاسوب الخاص بك في أي وقت وأي مكان ) .  
			</li>
			<li>
				تشجيع الطلبة على تحميل النسخ الالكترونية , لتعويدهم على التعامل مع الملفات الدراسية , حيث أن حياتهم العملية لابد أن تحتوي على الأجهزة  الحاسوبية , بالتالي يجب أن يتعلم الطالب فائدة التعلم الالكتروني حيث ينعكس على زيادة خبرته في التعليم عن طريق الانترنت ووسائله . 
			</li>
			<li>
				ينصح المدرس بتصميم ملفات المادة ذات طابع العروض التقديمية بشكل شخصي , حيث أن ذلك يعزز المحتوى العلمي الخاص به , ونشجع على أن ينعكس أسلوبه التدريسي في هذه الملفات .  
			</li>
			<li>
				نشجع بشكل كبير على ترجمة الملفات ذات طابع ( العروض التقديمية ) باللغة الأم للطلبة ليعزز تواصلهم في المادة , وان وجد المدرس صعوبة في هذه العملية او أن وقته لا يسمح بذلك يترك الامر لأحد الطلبة المتفوقين , ويتم تدقيقه من قبل المدرس في وقت لاحق . 
			</li>
		</ul>
		<h2 class="f-22">
			<u>
				ثالثا : الواجبات  
			</u>
		</h2>
		<div>
			افضل السياسات التي ننصح بها لتحقيق أعلى فائدة من الواجبات المنزلية  : 
		</div>
		<div>
			تعتبر الواجبات فرصة حقيقية لكشف مستويات الطلبة , وفرصة جيدة لتوضح مدى التزام الطلبة في المادة الدراسية ومتابعتهم لها , كما وتبين للمدرس أي الطلبة يستحقون  أن يقدم لهم المدرس زيادة في الدرجات على تحصيلهم العام , ويعد فرصة للطالب بإثبات نفسه أمام المدرس . 
		</div>
		<ul>
			<li>
				اعطاء واجب كل يوم ( اثنين و أربعاء ) , وينصح بأن تطلب من الطلبة تسليم الواجب الخاص بيوم ( الأثنين ) يوم ( الأربعاء ) الذي يليه , وتسليم الواجب الخاص بيوم ( الأربعاء ) يوم الأثنين الذي يليه . 
			</li>
			<li>
				لا ينصح بتخصيص الكثير من ( الدرجات ) للواجبات , انما ينصح أن تكون علامات الواجبات مرتبطة بزيادات على التحصيل في الامتحانات . 
			</li>
			<li>
				ينصح بربط الواجبات بمراجع معينة سواء ( كتب , مواقع الكترونية , مدرسيين آخرين , رسائل بحثية , فيديوهات , مقالات , زميل آخر ذو امكانيات دراسية متفوقة , ..., الخ ) . 
			</li>
			<li>
				ينصح بعدم حذف أي نقاش للطلبة فقد يسيء ذلك لنفسياتهم وربما ينعكس عليهم بشكل سلبي بما يدعوهم لاحقا الى عدم الدخول بأي نقاشات , الا النقاشات التي قد تحتوي اساءات او اي كلام خارج السياق . 
			</li>
			<li>
				ينصح بربط واجب يوم ( الأثنين ) بما تم دراسته بوقت سابق , وواجب يوم الأربعاء بما سيتم دراسته خلال الأيام التالية . 
			</li>
			<li>
				ينصح بوضع سياسات صارمة للواجبات من خلال ( الالتزام بالوقت المحدد للتسليم وعدم تمديده الا في ظروف خارجة عن الارادة , عدم نقل الاجابات المتعلقة في الواجبات من الطلبة الآخرين في حال لم يكن الواجب تشاركي بين مجموعة من الطلبة ) .  
			</li>
			<li>
				ينصح بأن يتم ادخال الطلبة ذوي المستوى التعليمي المنخفض في مجموعات لحل الواجب مع الطلبة ذوي المستوى التعليمي المرتفع , وينصح بأن يقوم الطلبة ذوي المستوى التعليمي المنخفض بحل الواجبات على اللوح التدريسي .
			</li>
			<li>
				ينصح بجعل الطلبة هم من يقوموا بحل الواجبات على اللوح التدريسي بدلا من المدرس . 
			</li>
			<li>
				ينصح بإعطاء أكثر من نوع للواجبات , بحيث يتم التنوع بين مجموعة من أنواع الواجبات المذكورة بالأسفل . 
			</li>
			<li>
				ينصح بإعطاء الفرص للطلبة الذين لديهم ظروف استثنائية ولم يقوموا بحل الواجبات بسببها , وزيادة صعوبة الواجبات الموكلة اليهم للتأكد من رغبتهم الحقيقية في حل الواجبات . 
			</li>
			<li>
				ينصح باستدعاء الطلبة الذين لم يقوموا بحل الواجبات الى المكتب الخاص بالمدرس للتأكد من الأسباب الحقيقية وراء عدم حل الواجبات , ولإضفاء طابع الجدية وعدم التساهل في موضوع الواجبات . 
			</li>
			<li>
				ينصح بخصم علامات من الامتحانات للطلبة الغير ملتزمين في تسليم الواجبات .
			</li>
			<li>
				ينصح بربط الواجبات في بعض الأحيان مع الأهل , مما يعزز ثقة الأهل في العملية التدريسية , ويزيد من اجبار الطالب على الالتزام في المادة وكل تفاصيلها , وتعتبر هذه الطريقة من أصعب الطرق حيث تتطلب ابداعا من المدرس في اختيار الوسائل المناسب . 
			</li>
		</ul>
		<div class="text-bold f-18 m-b-10 m-t-15">
			أنواع الواجبات المقترحة :  
		</div>
		<ul>
			<li>
				<strong>الواجبات التشاركية : </strong> وهي أن توكل لمجموعة من الطلبة التشارك حول العمل في واجب معين . 
			</li>
			<li>
				<strong>الواجبات التفاعلية : </strong> وهي أن تقوم  بالطلب من الطلبة أن يقدموا عروضا تقديمية .  
			</li>
			<li>
				<strong>الواجبات البحثية : </strong> وهي أن توكل للطلبة عمل بحث معين حول موضوع معين , وحثهم على استخدام المراجع العلمية .  
			</li>
			<li>
				<strong>الواجبات العملية :  </strong> هي أن يقوم الطلبة بعمل مشاريع مرئية وملموسة .
			</li>
			<li>
				<strong>الواجبات الذكية :  </strong> وهي أن يقوم الطلبة بابتكار الحلول لمشاكل حقيقية في الواقع العملي بحيث تكون هذه المشاكل مرتبطة بالمادة الدراسية . 
			</li>
			<li>
				<strong>الواجبات التقنية :  </strong> وهي استخدام تقنيات عصرية وحديثة من برمجيات وتطبيقات وبرامج محاكاه .
			</li>
			<li>
				<strong>المناظرات :  </strong> كأن تقوم بجعل فريقين من الطلبة بالتناظر حول مواضيع مرتبطة في المادة . 
			</li>
			<li>
				<strong>انت كن المبتكر : </strong> يمكنك ابتكار الكثير من أشكال الواجبات التي تعزز ارتباط الطالب في المادة الدراسية .  
			</li>
		</ul>
		<h2 class="f-22">
			<u>
				رابعا : الامتحانات 
			</u>
		</h2>
		<ul>
			<li>
				ينصح بالتشاور مع الطلبة حول أوقات الامتحانات , وخصوصا في المواد التي تحتاج الى بذل الكثر من الجهد للدراسة , كي لا ينعكس ذلك على تحصيلهم الدراسي . 
			</li>
			<li>
				ينصح في اضفاء جو مريح للطالب في قاعة الامتحان , كي لا يرتبك ويتشتت مما ينعكس على تحصيله الدراسي .
			</li>
			<li>
				ينصح بإعطاء الطالب حقه في الاستفسار حول الأسئلة التي يجد فيها صعوبة في الفهم , فالغاية من الامتحان قياس مستوى فهم الطالب , وليس قياس حفظ الطالب وغالبا ما يحتاج الطلبة الى طرح الاستفسارات فيجب اعطائهم هذا الحق .
			</li>
			<li>
				كي لا تكون القاعة تعج في الاستفسارات القادمة من الطلبة , تنظم العملية بشرح عام في بداية الامتحان لجميع الأسئلة , ثم لاحقا يترك المجال للطلبة برفع ايديهم فقط من دون اصدار اصوات لطرح الاستفسارات , وفي حال وجد المدرس ان استفسار الطالب عام وقد يكون لدى الكثير من الطلبة , يقوم بشرحه لجميع الطلبة .  
			</li>
			<li>
				ينصح بترجمة الكلمات الصعبة في الامتحانات التي تكون بلغة أخرى غير اللغة الأم , لأن ذلك سيعزز فهم السؤال من قبل الطالب , حيث يعاني الكثير من الطلبة من صعوبات في اللغات المختلفة عن لغتهم الأم , وفي حال وجد المدرس أن السؤال يستحق الشرح بلغة الطلبة الأم ينصح بشرح نصه بشكل كامل في اللغة الأم .  
			</li>
			<li>
				ينصح بتنويع شكل الأسئلة بشكل كبير , حيث أن ذلك يساعد بزيادة التحصيل العلمي للطلبة , ويعزز فرصة كسب الدرجات من قبل الطلبة . 
			</li>
			<li>
				نشجع على أن يكون الوقت المخصص للامتحان محسوب بدقة بالغة , ومراعاة جميع أصناف الطلبة .
			</li>
			<li>
				على المدرس أن يطلب من الطلبة أن يأتوا قبل عشرة دقائق من وقت الامتحان ان امكن , ونشجع على ان يكون الشرح العام لأسئلة الامتحان في خمس دقائق خارج الوقت المخصص للامتحان , حيث أن الامتحانات تحتاج الى تركيز عالي من قبل الطالب , وتحتاج الى استثمار الوقت بالطريقة الأمثل . 
			</li>
			<li>
				ننصح بتذكير الطلبة بشكل مستمر بترك الأسئلة التي تأخذ منهم الكثير من الوقت .  
			</li>
			<li>
				ننصح بإرفاق ورقة مفصلة في قوانين المادة في حال كانت المادة رياضية وتحتاج الى الكثير من القوانين , حيث أن الطالب الذي يعرف القانون المناسب سيقوم باستخدامه بشكل صحيح , و لا نشجع على ان يقوم الطلبة في حفظ القوانين فذلك لن يكون مطلوبا منهم في حياتهم العملية .  
			</li>
			<li>
				ننصح في استعمال الآت الحاسبة وتطبيقاتها العلمية في المواد التي تحتاج الى آلات حاسبة , حيث لن يكون الطالب مطرا في حياته العملية على الحساب اليدوي .  
			</li>
		</ul>
		<h2 class="f-22">
			<u>
				نصائح عامة 
			</u>
		</h2>
		<ul>
			<li>
				ينصح بالسماح للطلبة بتقييم المراجع المعتمدة بعد كل مرحلة تدريسية في المادة .  
			</li>
			<li>
				نشجع على أن يقوم الطلبة باستخدام اليوتيوب لاستعراض شروحات تتعلق بموادهم الدراسية , حيث ان اليوتيوب يعد مرجع مهم لهذه العملية .
			</li>
			<li>
				نشجع المدرس على أن يقوم بتخصيص بعض المحاضرات لعرض درس من موقع اليوتيوب يشرح نفس موضوع المحاضرة , مما له أثر كبير في تنويع مصدر المعلومة , ويشجعهم على استعمال الوسائل الحديثة في التعليم . 
			</li>
			<li>
				نشجع المدرس بأن يقوم بحث طلبته على تسجيل محاضراته بشكل صوتي , وأن يقوموا بمشاركتها بين بعضهم البعض ورفعها على شبكة ادزانس .  
			</li>
			<li>
				نشجع المدرس بأن يقوم بتسجيل محاضراته على شكل فيديو , مما يسمح له بتقييم نفسه ويسمح للطلبة للعودة للمحاضرة متى وجدو الحاجة لاسترجاعها , فلذلك أثر كبير في العملية التعليمية وفي زيادة المستوى التحصيلي للطلبة .   
			</li>
			<li>
				نشجع المدرس على التعاون مع طلبته لإنجاز أبحاث علمية بالتعاون معهم , مما يعزز ثقتهم بأنفسهم ويساعد على زيادة توظيفهم في وقت لاحق .
			</li>
			<li>
				نشجع على ابقاء الأهل على دراية بشكل مستمر على مستويات أبنائهم , حيث أن للأهل طرقهم الخاصة بزيادة اهتمام ابنائهم في دراستهم , والسبب الرئيسي لهذا التشجيع بأن الكلفة الدراسية لتدريس الأبناء عالية وتحسب هذه الكلفة المن الجوانب البدنية و المالية , ثم أن الأهل يعقدوا الكثير من الآمال على أبنائهم ويجب أن يوضع حد لعدم مبالاة الطلبة بدراستهم .  
			</li>
			<li>
				المدرس المثالي هو الذي يعي ظروف الطالب ويقدرها ويختبر مدى صدق طلبته , وهو من يعزز ثقة طلبته فيه , وهو من يكون الأب والأخ والصديق والسند والناصح والمرشد والمعلم . 
			</li>
			<li>
				نرجو التعامل مع كل طالب على أنه كنز لبلاده ولأهله ولمؤسسته التدريسية ولمدرسه , وأن يتم التعامل معه باحترام بالغ وأن يحصل كل عمل يقوم فيه على التقدير المناسب .  
			</li>
			<li>
				نرجو من المدرسين أن لا يجعلوا الدرجات و المادة الدراسية هم الرابط الوحيد بين المدرس وطلبته , فالحكاية بين الطالب والمعلم هي حكاية حياة , منها يبدأ المستقبل للأفضل , كن أنت دائما الأفضل ودع غيرك يتحدث عنك بعطائك وتميزك .  
			</li>
			<li>
				في عملك كمدرس لا تنتظر تكريما من أحد فأنت كرمت سلفا عندما اخترت أن تكون معلما , ولا أسمى من هذا الاختيار .  
			</li>
			<li>
				قد يمر عليك الكثير من أشكال الطلبة , فلا تجعل من تصرفات الطلبة السيئة محركا لردة فعلك , ( كن أنت دائما ) , فسوف يبقى ذكرك أنت وسيذهبون هم لحياتهم وأشغالهم .  
			</li>
			<li>
				ننصح كل مدرس بأن ينشأ قناة خاصة به على اليوتيوب يبث عبرها محاضراته الخاصة , مما يعزز بعرض المحتوى العلمي الخاص به أمام الكثير من الأشخاص . 
			</li>
		</ul>
		<div class="text-center text-bold">
			تذكر أن التعليم رسالة "حق" لابد أن تصل لطالبيها
		</div>
	</div>
</div>