<div class="card">
  <div class="card-body p-b-20 p-h-10">
    <table datatable="" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
        <thead>
        <tr>
            <th>الرقم</th>
            <th>الاسم الأول</th>
            <th>الاسم الاخير</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>حمزه</td>
            <td>النتشه</td>
        </tr>
        <tr>
            <td>123</td>
            <td>احمد</td>
            <td>عثامنه</td>
        </tr>
        <tr>
            <td>987</td>
            <td>بلال</td>
            <td>الحمدان</td>
        </tr>
        </tbody>
    </table>
</div>
</div>