 <div class="col-md-6 col-sm-6 col-xs-12 following-box-padding contacts p0-mobile">
    <div class="c-item row m-0">
          <div class="pull-right">
            <a ui-sref="app.profile.timeline({id:friend.id})">
              <img src="img/icons/infinity.svg" lazy-img="upload/profile/avatar/ed115bab359e395565b9dc5e6293721c.jpg" alt="حمزه النتشه" width="85px" height="85px">
            </a>
          </div>
          <div class="media-body following-con">
            <a ui-sref="app.profile.timeline({id:friend.id})" class="inline-block">
                <strong class="long-text ng-binding">احمد حلمي</strong>
                <div class="long-text ng-binding"></div>
            </a>
            <div ng-click="(friend.isfriend == false ? friend.isfriend=true : friend.isfriend=false)" class="pull-left" role="button" tabindex="0">
              <a class="btn btn-primary waves-effect waves-button waves-float f-15">
                <i class="md md-person-add"></i>
                <span>الغاء المتابعة</span>
              </a>
            </div>
          </div>
    </div>
</div>
 <div class="col-md-6 col-sm-6 col-xs-12 following-box-padding contacts p0-mobile">
    <div class="c-item row m-0">
          <div class="pull-right">
            <a ui-sref="app.profile.timeline({id:friend.id})">
              <img src="img/icons/infinity.svg" lazy-img="upload/profile/avatar/ed115bab359e395565b9dc5e6293721c.jpg" alt="حمزه النتشه" width="85px" height="85px">
            </a>
          </div>
          <div class="media-body following-con">
            <a ui-sref="app.profile.timeline({id:friend.id})" class="inline-block">
                <strong class="long-text ng-binding">علي حسن</strong>
                <div class="long-text ng-binding"></div>
            </a>
            <div ng-click="(friend.isfriend == false ? friend.isfriend=true : friend.isfriend=false)" class="pull-left" role="button" tabindex="0">
              <a class="btn btn-primary waves-effect waves-button waves-float f-15">
                <i class="md md-person-add"></i>
                <span>الغاء المتابعة</span>
              </a>
            </div>
          </div>
    </div>
</div>
 <div class="col-md-6 col-sm-6 col-xs-12 following-box-padding contacts p0-mobile">
    <div class="c-item row m-0">
          <div class="pull-right">
            <a ui-sref="app.profile.timeline({id:friend.id})">
              <img src="img/icons/infinity.svg" lazy-img="upload/profile/avatar/ed115bab359e395565b9dc5e6293721c.jpg" alt="حمزه النتشه" width="85px" height="85px">
            </a>
          </div>
          <div class="media-body following-con">
            <a ui-sref="app.profile.timeline({id:friend.id})" class="inline-block">
                <strong class="long-text ng-binding">وليد عدنان</strong>
                <div class="long-text ng-binding"></div>
            </a>
            <div ng-click="(friend.isfriend == false ? friend.isfriend=true : friend.isfriend=false)" class="pull-left" role="button" tabindex="0">
              <a class="btn btn-primary waves-effect waves-button waves-float f-15">
                <i class="md md-person-add"></i>
                <span>الغاء المتابعة</span>
              </a>
            </div>
          </div>
    </div>
</div>
 <div class="col-md-6 col-sm-6 col-xs-12 following-box-padding contacts p0-mobile">
    <div class="c-item row m-0">
          <div class="pull-right">
            <a ui-sref="app.profile.timeline({id:friend.id})">
              <img src="img/icons/infinity.svg" lazy-img="upload/profile/avatar/ed115bab359e395565b9dc5e6293721c.jpg" alt="حمزه النتشه" width="85px" height="85px">
            </a>
          </div>
          <div class="media-body following-con">
            <a ui-sref="app.profile.timeline({id:friend.id})" class="inline-block">
                <strong class="long-text ng-binding">محمد احمد</strong>
                <div class="long-text ng-binding"></div>
            </a>
            <div ng-click="(friend.isfriend == false ? friend.isfriend=true : friend.isfriend=false)" class="pull-left" role="button" tabindex="0">
              <a class="btn btn-primary waves-effect waves-button waves-float f-15">
                <i class="md md-person-add"></i>
                <span>الغاء المتابعة</span>
              </a>
            </div>
          </div>
    </div>
</div>