<div class="content-header edu-ins">
	<div class="container">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="pull-right hidden-xs">
				<i class="md md-location-on"></i>
				عمان, الدوار السابع, شارع عايدة
			</div>
			<div class="pull-right p-r-15">
				<i class="md md-email"></i>
					info@edzance.com
			</div>
			<div class="pull-right p-r-15">
				<i class="md md-call"></i>
				+962799999999
			</div>
			<div class="pull-left hidden-xs">
				تابعنا على وسائل التواصل الاجتماعي
				<img src="img/institution/icon/facebook.svg" class="soical-icon"/>
				<img src="img/institution/icon/twiter.svg" class="soical-icon"/>
				<img src="img/institution/icon/youtube.svg" class="soical-icon" />
			</div>
		</div>
	</div>
</div>
 <header id="header" class="edu-ins ins-header">
	<div class="container p-t-5">
	    <div class="navbar-header navbar-right m-0">
            <button type="button" class="navbar-toggle p-0" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <!-- <i class="md md-dehaze edzance-color f-28"></i>  -->
                <div class="bar1"></div>
			  	<div class="bar2"></div>
			  	<div class="bar3"></div>
            </button>
            <a class="navbar-brand page-scroll p-r-0-web" ui-sref="app.landing">
                <img src="img/logo.svg" alt="EDZANCE" class="edzance-logo"/>
            </a>
        </div>
	    <div class="navbar-edzance navbar-collapse collapse">
	        <ul class="nav navbar-nav m-0 p-r-0">
	        	<li class="header-info">
	                <a class="text-menu"> 
	                    <span>الرئيسية</span>
	                </a>
	        	</li>
	        	<li class="header-info">
	                <a class="text-menu">
	                    <span>عن المدرسة</span>
	                </a>
	        	</li>
	          	<li class="header-info">
	                <a class="text-menu">
	                    <span>الادارة</span>
	                </a>
	        	</li>
	        	<li class="header-info">
	                <a class="text-menu">
	                    <span>المدرسين</span>
	                </a>
	        	</li>
	        	<li class="header-info">
	                <a class="text-menu">
	                    <span>اتصل بنا</span>
	                </a>
	        	</li>
	        	<li class="header-info">
	                <a class="text-menu">
	                    <span>الدعم الفني</span>
	                </a>
	        	</li>
	        	<li class="header-info p-l-0">
	                <a class="btn btn-primary waves-effect waves-button waves-float ins-button">
	                    <span>المدارس</span>
	                </a>
	        	</li>
        	</ul> 
    	</div>
    </div>
</header>
<script type="text/javascript" src="js/navbar.js"></script>