<section class="edu-ins first-background">
	<div class="container">
		<div class="first-message">
			<div class="row m-b-30">
				<div class="col-md-12 col-sm-12 col-xs-12">
					تواصل مع طلبة مؤسستك ومدرسيها وعزز القيمة التعليمية التي تقدمها
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<a class="btn btn-danger red-button waves-effect waves-button waves-float f-24" ui-sref="institution.adding">
						اضافة مؤسسة تعليمية الى إدزانس
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="edu-ins">
	<div class="container section2-padding">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="m-t-20 m-b-20">
					<div>
						<strong class="f-24">
							كن على ثقة هنالك دائما المزيد في ادزانس 
						</strong>
					</div>
					<div class="text-gray f-15">
						ستصلك التحديثات دائما عبر ادزانس لحساب مؤسستك, لا تقلق حيال ذلك, سنستمر بإضافة الجديد وسنفاجئك دائما
					</div>
				</div>
				<div class="m-b-20">	
					<div class="row">
						<div class="pull-right p-r-12 p-l-12">
							<img src="img/institution/icon/connect.svg"/>
						</div>
						<div class="media-body p-r-12 p-l-12">
							<div class="p-b-10">
								<strong class="f-18">
									تواصل دائم مع الجميع 
								</strong>
							</div>
							<div class="text-gray f-15">
								يمكنك فتح أبواب التواصل مع مؤسستك التعليمية, وسيتمكن الجميع من التواصل مع مؤسستك بشكل مباشر
							</div>
						</div>
					</div>
				</div>
				<div class="m-b-20">
					<div class="pull-right p-r-12 p-l-12">
						<img src="img/institution/icon/contenet.svg"/>
					</div>
					<div class="media-body p-r-12 p-l-12">
						<div class="p-b-10">
							<strong class="f-18">
								محتوى دراسي متكامل
							</strong>
						</div>
						<div class="text-gray f-15">
							قم بإدارة المحتوى الدراسي الخاص بمؤسستك بشكل متكامل, يمكنك ارشفته والعودة له متى شئت, وتشاركه مع من تشاء
						</div>
					</div>
				</div>
				<div>
					<div class="pull-right p-r-12 p-l-12">
						<img src="img/institution/icon/group.svg"/>
					</div>
					<div class="media-body p-r-12 p-l-12">
						<div class="p-b-10">
							<strong class="f-18">
								قك ببناء المجتمعات التعليمة
							</strong>
						</div>
						<div class="text-gray f-15 m-b-10">
							يمكنك فتح أبواب التواصل مع مؤسستك التعليمية, سيتمكن الجميع من التواصل مع مؤسستك بشكل مباشر
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<img src="img/institution/ins-section1.png" width="100%">
			</div>
		</div>
	</div>
</section>
<section class="edu-ins create-section">
	<div class="container section3-padding">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<img src="img/institution/ins-section2.png" width="100%">
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="f-24 text-white m-t-30 m-b-20">
					قم بانشاء صفحة تعريف عامة
					<hr class="hr-support"/>
				</div>
				<div class="text-white f-16 m-b-20">
					نمكنك عبر ادزانس من بناء صفحة خاصة بمؤسستك تساعد في التعريف بها وبإنجازاتها وتطلعاتها, وتمكنك من عرض كل ما ترغب من معلومات عن مؤسستك, هي بوابة مهمة تعزز اسم مؤسستك التعليمية
				</div>
				<div class="text-white f-16 m-b-20">
					نقدم هذه الخدمة فقط للمؤسسات التعليمية من نوع (المدارس), يحب الاهالي دائما البقاء على اطلاع على اوضاع ابنائهم, وعبر ادزانس سيكون ذلك رائعا
				</div>
				<div>
					<a class="btn btn-danger red-button waves-effect waves-button waves-float f-16 p-r-30 p-l-30" ui-sref="institution.adding">
						أضف مؤسستك الآن
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="edu-ins">
	<div class="container section4-padding">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 m-t-120">
				<div class="f-24 m-b-10">
					<strong>
						ومن لا يحب المتابعين
					</strong>
				</div>
				<div class="text-gray f-15 m-b-20">
					نمكنك من اكتساب المتابعين لمؤسستك التعليمية, لكي يبقى المهتمين بمؤسستك على اطلاع على منشوراتها واخبارها دائما, سيكون من الجيد الكثير من المتابعين
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<img src="img/institution/ins-section4.png" width="100%">
			</div>
		</div>
	</div>
</section>
<section class="edu-ins section4-background">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 m-t-30">
				<img src="img/institution/ins-section6.png" class="event-img">
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 event-margin">
				<div class="f-24 m-b-10 edzance-color">
					<strong>
						من الممتع أن تقيم الفعاليات عبر ادزانس
					</strong>
				</div>
				<div class="text-gray f-15">
					ستصل منشورات الفعاليات خاصتك لجميع متابعي مؤسستك والطلبة والمدرسين, قم بأقامة الفعاليات عبر ادزانس وتوجيه الدعوات بالطريقة التي تناسبك
				</div>
			</div>
		</div>
	</div>
</section>
<section class="edu-ins">
	<div class="container section4-padding">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 m-t-120">
				<div class="f-24 m-b-10 edzance-color">
					<strong>
						ألا تحب الاحصائيات ..
					</strong>
				</div>
				<div class="text-gray f-15 m-b-10">
					احصل على الاحصائيات بشكل مستمر ولحظي, ستجد احصائيات كثيرة في ادزانس تمكنك من تحسين جودة التعليم في مؤسستك التعليمية
				</div>
				<div class="text-gray f-15 m-b-10">
					سيتمكن طلبة مؤسستك من تقييم مدرسيهم, ابني معايير جودة خاصة بك تساعدك في تقييم أداء مؤسستك وأفرادها لديك سيطرة كاملة في اظهار التقييمات عبر صفحة مؤسستك
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<img src="img/institution/ins-section7.png" width="100%">
			</div>
		</div>
	</div>
</section>
<section class="edu-ins section5-background">
	<div class="container section3-padding">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<img src="img/institution/ins-section8.png" width="100%">
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 m-t-120">
				<div class="f-24 m-b-10 text-white">
					<strong>
						لن تستطيع القيام بكل هذا بنفسك
					</strong>
				</div>
				<div class="text-white f-15 m-b-10">
					عبر ادزانس لديك نظام متكامل للصالحيات , قم بتوزيع الصالحيات 
					كما تشاء , سيساعدك هذا بإدارة حسابك بشكل ممتاز 
					وسنتمكن من متابعة كل شيء
				</div>
			</div>
		</div>
	</div>
</section>