/* Styles go here */

.virtualRepeatdemoVerticalUsage {
  margin: 16px; 
}

.virtualRepeatdemoVerticalUsage #vertical-container {
  height: 292px;
  width: 280px; 
}

.virtualRepeatdemoVerticalUsage .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  padding-top: 10px; 
}

.virtualRepeatdemoVerticalUsage md-virtual-repeat-container {
  border: solid 1px grey; 
}

.virtualRepeatdemoVerticalUsage .md-virtual-repeat-container .md-virtual-repeat-offsetter {
  padding-left: 16px; 
}

.md-title {
  color: black;
  text-align: center;
}