 <section id="content">
    <div class="container">
    	<div class="row m-0">
	    	<div class="col-md-7 col-sm-7 col-xs-12 m-b-10">
		  		<div class="notification-con">
			  		<div class="row">
			  			<div class="col-md-12 col-sm-12 col-xs-12">
			  				<h1 class="not-header">
			  				<i class="md md-search"></i>
			  					نتائج البحث
			  				</h1>
			  			</div>
			  		</div>
			  		<div class="row">
						<div ui-view="search"></div>
			    	</div>
		    	</div> 
	    	</div>
	    	<div class="col-md-5 col-sm-5 col-xs-12">
	    		<div scroll-to-fixed="{ marginTop: 70}" class="left-side-bar">
			      	<div>
	                    <h4>
	                        <i class="md md-work"></i>
	                        إعلان
	                    </h4>
	                </div>
		    		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- edzance-serch -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:336px;height:280px"
					     data-ad-client="ca-pub-2067358913948217"
					     data-ad-slot="1644106289"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
			  	 	<div class="text-center">
	                    <a class="f-15 text-gray" ui-sref="app.privacy-login">الخصوصية</a> - <a class="f-15 text-gray" ui-sref="app.support">مركز المساعدة</a>
	                </div>
	                <div class="f-15 text-gray text-center">
                    <span class="m-r-5">
                        Edzance © 2017 
                    </span>
                    <img src="img/logo-small.svg" class="edzance-logo-xs">
                </div>
				</div>
	    	</div>
    	</div>
    </div>
</section>